@if ( area ) {
    <h3>查看设备</h3>
    @if( droidOptions.length == 0 ){
    <div>该区域没有相关机器人信息</div>
    }@else {
    @if(droidOptions.length>1){
    <!-- <nz-segmented [nzOptions]="droidOptions" nzSize="large" (nzValueChange)="onSelectDroid($event);"></nz-segmented> -->
    <nz-card class = "equipments">
        <div class="container">
            <!-- <button nz-button nzType="primary"  (click)="showModal('仪表')">
                <span>仪表1</span>
            </button>

            <button nz-button nzType="primary"  (click)="showModal('AHUP6-2配电柜6-2循环机组')">
                <span>AHUP6-2配电柜6-2循环机组</span>
            </button> -->
        </div>
    </nz-card>
    }
    @else if( droidOptions.length==1 )
    {
    <h4>{{ droidOptions[0].label }}</h4>
    }
    <main>
      <nz-card nzTitle="实时监控" [nzExtra]="snapshot">
        @if( !isLive() ){
        <div nz-icon [nzType]=" 'loading' "></div>
        }
        <div class="holder" #liveHolder></div>
      </nz-card>
      <ng-template #snapshot>
        <!-- <button nz-button nzType="default" nzShape="round" (click)="onSnapshot();">
          <span nz-icon nzType="camera" nzTheme="outline"></span>
          视频截图
        </button> -->
        <button nz-button nzType="default" nzShape="round" (click)="onLiveClick();">
            <span nz-icon nzType="reload" nzTheme="outline"></span>
            摄像头重连
        </button>
      </ng-template>
      <nz-card class="droid-ctrl" nzTitle="机器人控制面板">
        <article class="ipc-ctrl">
          <!-- <nav>摄像头控制</nav> -->
          <div>
            <div>
                <button class="robotctrl" nz-button nzType="primary" nzShape="circle" (click)="onIpcControl('up');">
                    <span nz-icon nzType="arrow-up"></span>
                </button>
            </div>
            <div>
                <button class="robotctrl" nz-button nzType="primary" nzShape="circle" (click)="onIpcControl('left');">
                    <span nz-icon nzType="arrow-left"></span>
                </button>
            </div>
            <div>
                <button class="robotctrl" nz-button nzType="primary" nzShape="circle" (click)="onIpcControl('right');">
                    <span nz-icon nzType="arrow-right"></span>
                </button>
            </div>
            <div>
                <button class="robotctrl" nz-button nzType="primary" nzShape="circle" (click)="onIpcControl('down');">
                    <span nz-icon nzType="arrow-down"></span>
                </button>
            </div>
            <div>
                <button class="robotctrl" nz-button nzType="primary" nzShape="circle">
                    <span nz-icon nzType="zoom-in"></span>
                </button>
            </div>
            <div>
                <button class="robotctrl" nz-button nzType="primary" nzShape="circle">
                <span nz-icon nzType="zoom-out"></span>
                </button>
            </div>
          </div>
        </article>
      </nz-card>
    </main>
    }
    } @else {
    <div>所选区域不存在</div>
    }

    <!-- 弹出对话框内容 -->
    <nz-modal [(nzVisible)]="isVisible" nzTitle="查看设备" (nzOnCancel)="handleCancel()" [nzFooter]=null [nzWidth]='widthnz' [nzBodyStyle]="{ 'overflow': 'auto'}">
        <ng-container *nzModalContent>
            <div class="boxxx">
                <div>
                    <button nz-button nz-dropdown [nzDropdownMenu]="menu">
                        筛选条件
                        <i nz-icon nzType="down"></i>
                    </button>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu>
                        <li nz-menu-item>
                            <a (click)="doCheck('a')">最近24小时</a>
                        </li>
                        </ul>
                        <ul nz-menu>
                        <li nz-menu-item>
                            <a (click)="doCheck('b')">最近一周</a>
                        </li>
                        </ul>
                        <ul nz-menu>
                            <li nz-menu-item>
                            <a (click)="doCheck('c')">最近一个月</a>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>
                <div>
                    <nz-range-picker [nzShowTime]="true" [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-range-picker>
                </div>
                <div>
                    <button nz-button (click)="returnback()">
                        清除筛选条件
                    </button>
                </div>
            </div>
            <nz-table
            [nzFooter]="null"
            [nzData]="listOfRandomUser"
            [nzFrontPagination]="false"
            [nzShowPagination]="false"
            [nzShowSizeChanger]="false"
            [nzLoading]="loading"
            [nzTotal]="total"
            [nzSize]="size"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            >
            <thead>
                <tr>
                <th>数据编号</th>
                <th>设备名称</th>
                <th>录入日期</th>
                <th>数据名称</th>
                <th>数据结果</th>
                <th>数据状态</th>
                <th>数据来源</th>
                <th>巡检图片</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listOfRandomUser">
                <td>{{ data.id }}</td>
                <td>{{ data.devicename }}</td>
                <td>{{ data.date | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.result }}</td>
                <td  [class.status-normal]="data.status === '0'" [class.status-abnormal]="data.status != '0'" >{{ data.status == '0' ? '正常' : '异常'  }}</td>
                <td>{{ data.getby == 0 ? '机器人' : 'IOT' }}</td>
                <td>
                    <button nzType="primary" (click)="showPic(data.imgpath)">{{ data.imgpath ? '有' : '无' }}</button>
                </td>
                </tr>
            </tbody>
            </nz-table>
        </ng-container>
    </nz-modal>

    <nz-modal [(nzVisible)]="isVisiblepic" nzTitle="巡检图片" (nzOnCancel)="handleCancelpic()" [nzFooter]=null [nzWidth]='widthnz' [nzBodyStyle]="{'overflow': 'auto'}" >
        <div class="diii">
            <ng-container *nzModalContent>
                <div class="pic">
                    <img id="myImage" [src]="getPath()" [style.max-width.px]="calculateMaxWidth()" [style.max-height.px]="calculateMaxHeight()">
                </div>
            </ng-container>
        </div>
    </nz-modal>

